<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark bg-dark">
  <logo>
    <a class="navbar-brand" href="/">My Chat</a>
  </logo>
  <links>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link waves-light" (click)="goToSignUp()" mdbWavesEffect>SignUp</a>
    </div>
  </links>
</mdb-navbar>
<div class="row p-0 m-0">

  <div class="col-sm"></div>

  <div class="col-sm p-5">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="md-form form-group">
      <i class="fa fa-envelope prefix"></i>
      <input mdbInputDirective type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
      <label for="email">E-mail</label>
    </div>
    <div class="md-form form-group">
      <i class="fa fa-lock prefix"></i>
      <input mdbInputDirective type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
      <label for="password">Password</label>
    </div>
    <div class="md-form form-group text-center">
      <a class="btn btn-primary waves-light" (click)="signinFunction()" mdbWavesEffect>Login</a>
    </div>
  </div>

  <div class="col-sm"></div>

</div>